@font-face {
	font-family: 'adjust';
	src:url('../fonts/adjust-font.eot');
	src:url('../fonts/adjust-font.eot?#iefix') format('embedded-opentype'),
		url('../fonts/adjust-font.woff') format('woff'),
		url('../fonts/adjust-font.ttf') format('truetype'),
		url('../fonts/adjust-font.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'vag';
	src:url('../fonts/vag_bold.eot');
	src:url('../fonts/vag_bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/vag_bold.woff') format('woff'),
		url('../fonts/vag_bold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'vag';
	src:url('../fonts/vag_light.eot');
	src:url('../fonts/vag_light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/vag_light.woff') format('woff'),
		url('../fonts/vag_light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}