
.modal_form{
    position: fixed;
    z-index: 15;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    display: none;

    @media screen and (max-width: 650px) {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        overflow-y: scroll;
    }

    .modal_close{
        color: $pink;
        position: absolute;
        right: 5%;
        top: 2%;
        cursor: pointer;

        &:after{
            height: 40px;
            width: 40px;
            background-image: url(/src/img/icon/close.svg);
            background-repeat: no-repeat;
            background-size: 65%;
            background-position: 40% 45%;
            content: "";
            position: absolute;
            top: -50%;
            right: -65px;
            transform: translatex(-50%);
            transition: .2s ease-in;
        }

        @media screen and (max-width: 650px) {
            font-size: 12px;
            right: 13%;
            &:after{
                height: 20px;
                width: 20px;
                top: -32%;
                right: -38px;
            }
        }
        &:hover{
           
            &:after{
                transform: translatex(-50%) scale(0.9);
            }
        }
    }
    .container{
        margin: 0 auto;
        max-width: 1680px;
        height: 90%;
        width: 90%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
}

.content--modal{
    width: calc(100% - 60%);

  

    @media screen and (max-width: 1450px) {
        width: 50%;
        height: 100%;
        overflow-y: scroll;
    }
    @media screen and (max-width: 650px) {
        width: 100%;
        margin-top: 80px;
        height: auto;
        overflow: inherit;
    }
}
.form--content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .content-bg{

        background: url(/src/img/visuel_header.jpg);
        background-size: cover;
        border-radius: 30px;
        background-position: 50%;
        width: calc(100% - 45%);
        position: relative;
        height: 100%;
        border-radius: 30px;
       
        @media screen and (max-width: 1450px) {
            width: calc(100% - 55%);
        }

        @media screen and (max-width: 850px) {
            height: 80%;
        }

        @media screen and (max-width: 650px) {
            width: 100%;
            height: 30%;
        }
      
       img{
            position: absolute;
            left: 50%;
            bottom: -50px;
            transform: translateX(-50%);
            width: 410px;

            @media screen and (max-width: 1024px) {
                width: 300px;
            }

            @media screen and (max-width: 650px) {
                width: 200px;
            }
           
       }
      
    }
    h3{
        color: $green;
        font-size: 32px;
        margin-top: 0;
        @media screen and (max-width: 1450px) {
            font-size: 27px;
        }
    }
    p{
        margin-bottom:70px;
        color: #5d5959;
        @media screen and (max-width: 1700px) {
            margin-bottom:30px;
        }
    }

    form{


        @media screen and (max-width: 1700px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            div.third{
                width: calc(100% / 2 - 10px);

                @media screen and (max-width: 650px) {
                    width: 100%;
                }

               
            }
            input{
                width: 100%;
                font-size: 14px;

                @media screen and (max-width: 1450px) {
                    height: 38px;
                }
            }
        }

        .choice--fonction{
            width: 100%;
            
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
           
            p{
                color: $green;
                font-weight: 800;
                margin-bottom: 20px;
                display: block;
                width: 100%;
            }
            .checkbox{
                position: relative;
                padding: 10px 0;
                margin: 10px 0;
                width: 100%;
                width: calc(100% / 2 - 30px);
                @media screen and (max-width: 1450px) {
                    width: calc(100% / 2 - 30px);
                }
                label{
                    display: inline-block; 
                    padding-left: 44px;
                    font-weight: 200;
                    font-size: 14px;
                    color: #5d5959;
                }
    
                input[type=checkbox] {
                    position: absolute;
                    left: 0;
                    width: 20px;
                    top: -22px;
                    
                }
                
            }

        }
       
        button{
            margin-top: 30px;
        }
    }
    
}

.cta{
    background: #ffffff;
    padding: 15px 50px;
    font-weight: 800;
    font-size: 19px;
    color: #fff;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: $green;
    display: inline-block;
    margin: 0 auto;
    margin-bottom: 18px;
    box-shadow: $box-shadow-color;
    transform: translateY(0px);
    transition: .3s ease-in-out;
    margin-top: 50px;
    cursor: pointer;
    @media screen and (max-width: 1260px) {
        padding: 15px 20px;
        font-size: 14px;
        margin-top: 20px;

    }
    @media screen and (max-width: 650px) {
        padding: 15px 20px;
        font-size: 14px;
        margin-top: 20px;
    }

    &:hover{
        transform: translateY(-7px);
        box-shadow: $box-shadow-color-hover;
    }
}