
.hero.hero-webinaire{
    height: 60vh;
    max-height: 700px;
    min-height: 570px;
    img.claims_Vanin{
        max-width: 325px;

    }
    .container{
        background: none;
        //background-image: $gradient-pink ;
        background-size: cover;
        border-radius: 30px;
        height: 100%;
        background-position: 50%;
    }

    .countdown{
        ul li{
            box-shadow: $box-shadow;
        }
    }
    .text-content{
        color: #444;
      
        h1{
            background-image: $gradient-pink;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 42px;
        }
       
        div.info--event{
            display: flex;
            flex-wrap: wrap;

            p{
                text-align: left;
                padding-left: 30px;
                position: relative;
                font-weight: 800;
                padding-left: 45px;
                font-size: 16px;
                line-height: 1.5;
                background-image: $gradient-pink;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
         
                @media screen and (max-width: 600px) {
                    padding-right: 13px;
                    padding-left: 13px;
                    font-size: 12px;
                }

                &:before{
                    height: 16px;
                    width: 16px;
                    background: url(/src/img/icon/icon_clock.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    left: 15px;
                    content:  "";
                    right: -13px;

                    @media screen and (max-width: 600px) {
                        padding-right: 13px;
                        padding-left: 13px;
                        font-size: 12px;
                        display: none;
                    }
                }

                &:nth-child(1){
                    padding-right: 45px;
                    padding-left: 30px;
                    
                    @media screen and (max-width: 600px) {
                        padding-right: 13px;
                        padding-left: 0px;
                        font-size: 12px;
                        right: 0;
                    }

                    &:before{
                        height: 16px;
                        width: 16px;
                        background: url(/src/img/icon/icon_calendar.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        left: 0;
                        content:  "";
                        @media screen and (max-width: 600px) {
                            display: none;
                        }
                    }

                    &:after{
                        height: 16px;
                        width: 16px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        right: 0;
                        content:  "|";
                        color: $green;
                        right: -13px;
                    }
                }  
            }
        }
        p{
            font-size: 19px;
            font-weight: 200;


            @media screen and (max-width: 600px) {
                font-size: 15px;
                line-height: 1.5;
            }
            strong{
                font-weight: 800;
            }
        }
      
    }
    .content--register{
        bottom: 50%;
        transform: translateY(50%);
        max-width: 510px;
        width: 36vw;

        div.content-video{
            border-radius: 20px;
            position: relative;
            &:before{
                height: 70px;
                width: 70px;
                background: url(/src/img/icon/play_video.svg);
                background-repeat: no-repeat;
                background-size: cover;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50% , -50% );
                content:  "";
            }
            img{
                width: 100%;
                object-fit: contain;
                border-radius: 20px 20px 0 0;

               
            }

            &.submit_reponsive{
                @media screen and (max-width: 850px) {
                    width: 60%;
                }
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }
        }
        div:last-child{
            padding: 28px 38px;

            @media screen and (max-width: 600px) {
                padding: 50px 38px;
            }
        }
    }
}

.speaker{
    margin-top: 120px;
    position: relative;
    h2{
        z-index: 10;
        color: #fff;
        position: relative;
        &:before{
            height: 73px;
            width: 73px;
            background-color: #fff;
            box-shadow: $box-shadow;
            border-radius: 50px;
            background-image: url(/src/img/icon/speaking.svg);
            background-repeat: no-repeat;
            background-size: 65%;
            background-position: 50%;
            content: "";
            position: absolute;
            top: -10px;
            left: 50%;
            transform: translateX(-50%);
            @media screen and (max-width: 600px) {
                top: -38px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    &:before{
        background-image: $gradient;
        height: 300px;
        width: 100%;
        position: absolute;
        left: 0;
        top: -60px;
        content: "";
        z-index: -1;

    }
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 120px;
        li{
            display: flex;
            width: calc(100% / 3 - 30px);
            background-color: #fff;
            box-shadow: $box-shadow;
            position: relative;
            padding: 60px 35px 55px 35px;
            display: block;
            text-align: center;
            border-radius: 20px;
            div{
                width: 100px;
                height: 100px;
                position: absolute;
                top: -45px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 20px;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    display: block;
                    border-radius: 10px;
                }
            }

            p{
                margin: 30px 0;
            }

            a{
                text-decoration: none;
                color: $green;
            }
        }
    }
}