$green: #c5cf2a;
$pink: #E9027D;

$gradient: linear-gradient( 315deg , #c5cf2a 20%, #E2E744 80%);;

$box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06);
$box-shadow-color: 0 8px 24px rgba(197, 207, 42, 0.2);

$box-shadow-color-hover: 0 8px 24px rgba(197, 207, 42, 0.4);
