@import "utils/normalize";

@import 'core';
@import 'easing';
@import 'animations';


@import "fonts";
@import "variables";
@import "form";
// @import "your files here":


html{
    box-sizing: border-box;
    height: 100%;
    width: 100%;

}
    
    *, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: 'vag';
    font-weight: 100;
    font-size: 16px;
    overflow-x: hidden;

    &.fixed{
        overflow: hidden;
    }
}

.container{
    max-width: 95vw;
    margin: 0 auto;
    width: 95vw;
    margin: 0 auto;
    max-width: 1680px;
    position: relative;
}
h1{
    font-size: 32px;
    margin-top: 0;
    @media screen and (max-width: 1300px) {
        font-size: 24px;
    }
    @media screen and (max-width: 600px) {
        font-size: 20px;
    }
}

h2{
    font-size: 51px;
    color: $green;
    text-align: center;
    @media screen and (max-width: 1300px) {
        font-size: 36px;
    }
    @media screen and (max-width: 600px) {
        font-size: 26px;
    }
    

}
form{
    label{
        width: 100%;
        color: $green;
        font-weight: 800;
        display: block;
    }
    input{
        margin-bottom: 40px;
        background-color: #F3F2F2;
        border-radius: 10px;
        width: 100%;
        height: 53px;
        font-size: 19px;
        border: none;
        margin-top: 15px;
        padding-left: 17px;
    }
    button{
        background-image: $gradient;
        padding: 15px 50px;
        font-weight: 800;
        font-size: 19px;
        color: #fff;
        border: none;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
        margin-bottom: 18px;
        box-shadow: $box-shadow-color;
        transform: translateY(0px);
        transition: .3s ease-in-out;
        cursor: pointer;
        @media screen and (max-width: 600px) {
            font-size: 14px;
        }
        &:hover{
            transform: translateY(-7px);
            box-shadow: $box-shadow-color-hover;
        }
    }
}
header{
    padding-bottom: 20px;
     .sub-header{
         background-color: $green;
        //  padding-top: 1.75em;
        padding: 0.75rem;

         font-weight: 600;
         position: relative;

         a{
            padding-bottom: .75em;
            display: block;
            font-size: 13px;
            font-weight: 200;
            text-transform: none;
            text-decoration: none;
            letter-spacing: 2px;
            text-align: right;
            padding-right: 220px;
            color: #fff;
            top: -.5em;
            position: absolute;
            width: 100%;
            @media screen and (max-width: 600px) {
                padding-right:100px;
            }
            &:after{
                display: none;
            }
         }
     }
    
     div{
        position: relative;
         img{
             width: 363px;
             display: block;
             padding: 20px 0;

            @media screen and (max-width: 600px) {
                width: 193px;
            }
         }
                 
        a{
            margin-bottom: 50px;
            display: inline-block;
            color: $pink;
            font-size: 14px;
            padding-right: 40px;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 800;
            position: absolute;
            top: 25px;
            right: 0;
            text-align: right;
            padding-left: 30px;
           
            &:after{
                height: 15px;
                width: 15px;
                background-image: url(/src/img/icon/arrow.svg);
                background-repeat: no-repeat;
                background-size: 65%;
                background-position: 40% 45%;
                content: "";
                position: absolute;
                top: 0%;
                right: 5px;
                transform: translatex(-50%);
                transition: .2s ease-in;
    
            }
            @media screen and (max-width: 600px) {
                font-size: 12px;
                padding-right: 30px;
                &:after{
                    height: 10px;
                    width: 10px;
                }
            }

            &:hover{
                &:after{
                    right: 0px;
                }
            }
        }
            
        
     }
}

.hero{
    height: 80vh;
    max-height: 800px;
    min-height: 670px;
    @media screen and (max-width: 600px) {
        height: 84vh;
        margin-bottom: 480px;
        max-height: 570px;
        min-height: 610px;
    }
    img.claims_Vanin{
        max-width: 485px;
        width: 26vw;
        padding-left: 40px;
        margin-top: -30px;
        position: absolute;

        @media screen and (max-width: 850px) {
            width: 40vw;
            padding-left: 11px;
            max-width: 320px;
            left: 60px;
        }
    }
    .container{
        background: url(/src/img/visuel_header.jpg);
        background-size: cover;
        border-radius: 30px;
        height: 100%;
        background-position: 50%;

        @media screen and (max-width: 1300px) {
            &:before{
                border-radius: 30px;
                content: "";
                position: absolute;
                left: 0;
                bottom: 0;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 20%, rgba(0, 0, 0, 0) 100%);
                height: 100%;
                width: 100%;
            }
        }   
    }
    .text-content{
        color: #fff;
        padding-left: 90px;
        max-width: 680px;
        position: absolute;
        bottom: 50px;
        left: 0px;
        

        &.submit{
            @media screen and (max-width: 1100px) {
                top: 360px;
            }
            @media screen and (max-width: 600px) {
                top: 270px;
                
            }
        }
       

        @media screen and (max-width: 1100px) {
            bottom: inherit;
            top: 200px;
            max-width: 550px;
        }
        @media screen and (max-height: 640px) {
            bottom: inherit;
            top: 140px;
            max-width: 550px;
            top: 160px;
        }
       
        @media screen and (max-width: 600px) {
            top: 120px;
            padding-left: 20px;
        }
        div.info--event{
            display: flex;
            flex-wrap: wrap;

            p{
                text-align: left;
                padding-left: 30px;
                position: relative;
                font-weight: 800;
                padding-left: 45px;
                font-size: 16px;
                line-height: 1.5;

                @media screen and (max-width: 600px) {
                    padding-right: 13px;
                    padding-left: 13px;
                    font-size: 12px;
                }

                &:before{
                    height: 16px;
                    width: 16px;
                    background: url(/src/img/icon/icon_clock.svg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    position: absolute;
                    left: 15px;
                    content:  "";
                    right: -13px;

                    @media screen and (max-width: 600px) {
                        padding-right: 13px;
                        padding-left: 13px;
                        font-size: 12px;
                        display: none;
                    }
                }

                &:nth-child(1){
                    padding-right: 45px;
                    padding-left: 30px;
                    
                    @media screen and (max-width: 600px) {
                        padding-right: 13px;
                        padding-left: 0px;
                        font-size: 12px;
                        right: 0;
                    }

                    &:before{
                        height: 16px;
                        width: 16px;
                        background: url(/src/img/icon/icon_calendar.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        left: 0;
                        content:  "";
                        @media screen and (max-width: 600px) {
                            display: none;
                        }
                    }

                    &:after{
                        height: 16px;
                        width: 16px;
                        background-repeat: no-repeat;
                        background-size: contain;
                        position: absolute;
                        right: 0;
                        content:  "|";
                        color: $green;
                        right: -13px;
                    }
                }  
            }
        }
        p{
            font-size: 19px;
            font-weight: 200;


            @media screen and (max-width: 600px) {
                font-size: 15px;
                line-height: 1.5;
            }
            strong{
                font-weight: 800;
            }
        }
      
    }
    .content--register{
        max-width: 450px;
        width: 26vw;
        background-color: #fff;
        position: absolute;
        border: 0;
        box-shadow: $box-shadow;
        border-radius: 20px;
        right: 110px;
        bottom: -80px;

        @media screen and (max-width: 1300px) {
            min-width: 310px;
            right: 30px;
            bottom: -120px;
        }
        @media screen and (max-width: 1000px) {
            min-width: 310px;
            right: 30px;
            bottom: -280px;
        }
        @media screen and (max-width: 850px) {
            max-width: 450px;
            width: inherit;
            max-width: 70vw;
            display: flex;
            flex-direction: row-reverse;
            left: 90px;
            bottom: -90px;
        }
        @media screen and (max-width: 600px) {
            left: 20px;
            bottom: -410px;

            flex-direction: column-reverse;
            margin: 0 auto;
            max-width: 85vw;
        }

        

        div.content-video{
            border-radius: 20px;
            position: relative;
           
            img{
                width: 100%;
                object-fit: contain;
                border-radius: 20px 20px 0 0;

                @media screen and (max-width: 850px) {
                    object-fit: cover;
                    height: 100%;
                    border-radius: 0px 20px 20px 0;
                }
                @media screen and (max-width: 600px) {
                    object-fit: cover;
                    height: 100%;
                    border-radius: 0px 0px 20px 20px;
                    display: block;
                }
            }

            &.submit_reponsive{
                @media screen and (max-width: 850px) {
                    width: 60%;
                }
                @media screen and (max-width: 600px) {
                    width: 100%;
                }
            }
        }
        div:last-child{
            padding: 28px 38px;

            @media screen and (max-width: 600px) {
                padding: 50px 38px;
            }
        }
    }
}

.why_sub{
    margin-top: 150px;
    .container{
        width: 85vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .block--why{
        width: calc(100% / 3 - 30px);
        max-width: 421px;
        background-color: #fff;
        box-shadow: $box-shadow;
        border-radius: 20px;
        position: relative;
        margin-top: 50px;
        @media screen and (max-width: 850px) {
            width: calc(100% / 2 - 30px);
        }
        @media screen and (max-width: 600px) {
           width: 100%;
        }
        &:nth-child(1){
            &:before{
                height: 73px;
                width: 73px;
                background-color: #fff;
                box-shadow: $box-shadow;
                border-radius: 50px;
                background-image: url(/src/img/icon/icon_loupe.svg);
                background-repeat: no-repeat;
                background-size: 65%;
                background-position: 40% 45%;
                content: "";
                position: absolute;
                top: -38px;
                left: 50px;
                @media screen and (max-width: 600px) {
                    top: -38px;
                    left: 50%;
                    transform: translateX(-50%);
                }

               
            }
        }

        &:nth-child(2){
            &:before{
                height: 73px;
                width: 73px;
                background-color: #fff;
                box-shadow: $box-shadow;
                border-radius: 50px;
                background-image: url(/src/img/icon/icon_question.svg);
                background-repeat: no-repeat;
                background-size: 55%;
                background-position: 50%;
                content: "";
                position: absolute;
                top: -38px;
                left: 50px;
                @media screen and (max-width: 600px) {
                    top: -38px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

        &:nth-child(3){
            &:before{
                height: 73px;
                width: 73px;
                background-color: #fff;
                box-shadow: $box-shadow;
                border-radius: 50px;
                background-image: url(/src/img/icon/icon_gift.svg);
                background-repeat: no-repeat;
                background-size: 55%;
                background-position: 50%;
                content: "";
                position: absolute;
                top: -38px;
                left: 50px;
                @media screen and (max-width: 600px) {
                    top: -38px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        img{
            display: block;
            object-fit: cover;
            width: 100%;
            height: 100%;
            max-height: 200px;
            min-height: 200px;
            border-radius: 20px 20px 0 0;
        }
        .content--why{
            padding: 20px 30px;
            text-align: center;

            @media screen and (max-width: 600px) {
                padding: 20px 30px;
            }
            h3{
                color: $pink;
                font-size: 26px;
                font-weight: 200;
                @media screen and (max-width: 1300px) {
                    font-size: 21px;
                }
            }
            p{
                font-size: 21px;
                line-height: 1.4;
                color: #444444;
                @media screen and (max-width: 1300px) {
                    font-size: 18px;
                }
            }
        }
    }
}
.countdown{
    p{
        font-weight: 800;
        margin-top: 40px;
    }
    ul{
        padding: 0;
    }
    li {
        display: inline-block;
        list-style-type: none;
        padding: 15px 5px;
        font-size: 14px;
        font-weight: 200;
        background-color: #fff;
        color: #444444;
        width: 78px;
        text-align: center;
        border-radius: 10px;
        margin-right: 20px;

        @media screen and (max-width: 1300px) {
            font-size: 12px;
            width: 58px;
        }
        @media screen and (max-width: 600px) {
            margin-right: 10px;
        }

      }
      
      li span {
        display: block;
        font-size: 31px;
        color: #F7B901;
        text-align: center;
        font-weight: 800;
        @media screen and (max-width: 1300px) {
            font-size: 21px;
        }
       
      }
    ul{
       
        li{
            display: inline-block;
        }
    }
    .submit-dn{
        display: none !important;
    }
    &.submit {
        padding: 0 !important;
        #countdown {
            padding: 0 !important;
        }
        p{
            color: $green;
            margin-top: 0;
            margin-bottom: 50px;
            margin-bottom: 20px;
        }
        
        li {
            box-shadow: none;
            font-size: 12px;
            margin-right: 0px;
            @media screen and (max-width: 1600px) {
                //width: calc(50% - 17px);
                margin-bottom: 20px;
                padding: 15px 0px;
                width: 58px;
            }

            @media screen and (max-width: 1180px) {
               
                width: 52px;
            }
            span{
                font-size: 21px;
            }
        }
    }
}

.submit-dn{
    display: none !important;
}
.contact{
    margin-top: 145px;
    margin-bottom: 140px;

    @media screen and (max-width: 600px) {
       margin-bottom: 50px;
    }
    .container{
        div.content--contact{
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
           max-width: 65vw;
           margin: 0 auto;
           @media screen and (max-width: 1030px) {
                max-width: 85vw;
           }
           .contact--form{
                background: $gradient;
                width: 60%;
                border-radius: 30px 0 0 30px;
                color: #fff;
                padding: 45px 90px;
                @media screen and (max-width: 600px) {
                    padding: 20px 30px;
                }
                @media screen and (max-width: 850px) {
                   
                    padding: 45px 50px;
                }

                @media screen and (max-width: 600px) {
                    width: 100%;
                    border-radius: 30px;
                    border-radius:  30px 30px 0 0 ;
                }
                p{
                    font-size: 21px;
                    line-height: 1.5;
                    @media screen and (max-width: 1260px) {
                        font-size: 16px;
                        line-height: 1.5;
                        
                    }
                }
                
                h3{
                    font-size: 29px;
                    @media screen and (max-width: 1260px) {
                        font-size: 21px;
                    }
                    @media screen and (max-width: 850px) {
                        font-size: 20px;
                    }
                }
                form {
                    margin-top: 50px;
                    @media screen and (max-width: 600px) {
                        margin-top: 30px;
                    }
                    div{

                        &:last-of-type{
                            margin-right: 00px;
                        }
                        width: calc(50% - 17px);
                        display: inline-block;
                        margin-right: 30px;
                        @media screen and (max-width: 600px) {
                            width: 100%;
                        }
                        label{
                            font-weight: 800;
                            color: #fff;
                        }

                       
                    }
                    button{
                        background: #fff;
                        color: #dae043;
                    }
                    label{
                        font-weight: 800;
                        color: #fff;
                    }
                    input{
                        background: #fff;
                    }
                }
                
            }

            & div:last-child{
                width: 40%;
                height: auto;
                overflow: hidden;
                position: relative;
                @media screen and (max-width: 600px) {
                    width: 100%;
                    border-radius:  0 0 30px 30px;
                    height: 240px;
                }
               
                img{
                    width: 100%;
                    object-fit: contain;
                    object-fit: cover;
                    height: 100%;
                    border-radius: 0 30px 30px 0;

                    min-height: 100%;
                    min-width: 100%;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);

                    @media screen and (max-width: 600px) {
                        border-radius:  0 0 30px 30px;
                    }
                }
            }
        }
    }
}


footer.container{

    img{
        width: 195px;
        display: block;
        margin: 0 auto;
    }
}
.content--footer{
    .content-link{
       
        margin: 0 auto;
        ul {
            margin: 0 auto;
            padding: 0;
            text-align: center;
            margin: 40px auto 40px;
            li{
                display: inline-block;
                margin: 20px;
                text-align: center;

                a{
                    color: #444444;
                    text-decoration: none;
                    opacity: .7;
                    transition: .3s ease-in;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
            
    }
}

/* SCROLL BAR */

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
 
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $green;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $pink; 
  }